body {
  top: 0;
  margin: 0px;
  background-color: #330e0ea5;

}
/*=======================================LISTS-NAVBAR==========================================*/

nav{
  position: fixed;
  top: 0;
}.nav ul {
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 1vw;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  /* box-shadow: #6d504d5c 2px 1px 10px 1px; */

}

.nav ul li {
  position: static;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.nav ul li a {
  font-size: .8rem;
  width: auto;
  padding: 10%;
  text-decoration: none;
  border-radius: 10%;
  box-shadow: rgba(101, 3, 34, 0.708) 2px 2px 10px 5px;
  color: aliceblue;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation: glow infinite 1s;
}

.nav ul li a:hover {
  background: #aa89dc;
  transition: all ease 0.5s;
  position: static;
  color: rgb(4, 8, 0);
  box-shadow: rgb(255, 66, 45) 2px 2px 10px 5px;
}

.menu img {
  height: 50px;
  display: block;
}
li a img{
  height: 10%;
}

/*=======================================HOME==========================================*/
#home{
  height: 90vh;
  background-color: #000000;
  background-image: url(img/banner2.png);
  background-size: cover;
}
.container{
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.container h1:nth-child(1) {
  color: #ffffff;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 25px;
  margin: 0 0 0 15%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  animation: type 2s steps(40,end) forwards;
}
/* .container h1:nth-child(3) {
  color: #ffffff;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 50px;
  margin: 0 0 0 15%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 400px;
  animation: type 2s steps(40,end) 4s forwards;
} */

.container h1:nth-child(2) {
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0 0 0 15%;
  background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
  font-weight: 800;
  font-size: 100px;  
  width: 430px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid orange;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


/*=======================================SERVICES==========================================*/
#service {
  background-color: #080312;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start
}

#service h1 {
  font-family: "Protest Strike", sans-serif;
  font-size: 3rem;
  color: cyan;
}

 .service-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2vw;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}
 ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}

.myCard {
  background-color: transparent;
  height: 250px;
  width: 200px;
  padding: 1%;
  perspective: 1000px;
}
.myCard img {
  height: 30%;
  }

.myCard::marker {
  display: none;
  text-decoration: none;
  background-color: transparent;
}


.define {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  padding: 2%;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 600;
}

.frontSide,
.frontSide::before {
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
/* button styling */
.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
      /* Top-left */
      0% var(--curve-size),

      var(--curve-size) 0,
      /* top-right */
      100% 0,
      100% calc(100% - var(--curve-size)),

      /* bottom-right 1 */
      calc(100% - var(--curve-size)) 100%,
      /* bottom-right 2 */
      0 100%);
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: '';
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
      /* Top-left */
      var(--border-width) calc(var(--curve-size) + var(--border-width) * .5),

      calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

      /* top-right */
      calc(100% - var(--border-width)) var(--border-width),

      calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

      /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
      /* bottom-right 2 */
      var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
      /* Top-left */
      calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),

      calc(100% - var(--border-width)) var(--border-width),

      /* top-right */
      calc(100% - var(--border-width)) var(--border-width),

      calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

      /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),

      /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
 
}
/*================================MEDIA=============================*/
#media h1 {
  font-family: "Protest Strike", sans-serif;
  font-size: 3rem;
  color: cyan;
  padding: 50px;
}
/*================================CONTACT_US=============================*/
#section-wrapper{
  width: 100%;
  padding: 10px;
  margin-top: 70px;
}

@media only screen and (max-width: 600px) {
  .box-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.box-wrapper{
  position: relative;
  display: flex;
  width:80vw;
  height: 100%;
  margin-top:35px;
  border-radius: 30px;
  margin-left: 150px;
}
.info-wrap{
  width:35%;
  padding: 100px;
  float: left;
  display: block;
  border-radius: 30px 0px 0px 30px;
  background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgba(49,39,157,1) 49%);
  color: #fff;
}
.info-title{
  text-align: left;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.info-sub-title{
  font-size: 18px;
  font-weight: 300;
  margin-top: 17px;
  letter-spacing: 0.5px;
  line-height: 26px;
}
.info-details {
  float: left;
  list-style: none;
  margin: 5px;
}



.info-details li {
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
}
.info-details li i {
  background: #F44770;
  padding: 12px;
  border-radius: 50%;
  margin-right: 5px;
  float: left;
}
.info-details li a {
  color: #fff;
  text-decoration: none;
}
.info-details li a:hover {
  color: #F44770;
}
.social-icons {
  list-style: none;
  width: 100%;
  display: flex;
  float: left;
  justify-content: center;
  text-align: center;
  margin: 20px 0px;
}
.social-icons li {
  display: inline-block;
}
.social-icons li i {
  background: #F44770;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  border-radius: 22%;
  margin: 0px 5px;
  cursor: pointer;
  transition: all .5s;
}
.social-icons li i:hover {
  background: #fff;
  color: #000000;
}
.form-wrap{
  float: right;
  padding:60px;
  border-radius: 0px 30px 30px 0px;
  background: #ecf0f3;
}


.form-title{
  text-align: left;
  margin-left: 15px;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.form-fields{
  display: table;
  width: 100%;
  padding: 10px;
}
.form-fields input,
.form-fields textarea{
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color:#555;
  padding: 20px 10px 20px 5px;
  width:100%
}
.form-fields textarea{
  height: 20px;
  
}
.form-group{
  width: 46%;
  float: left;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
  width: 96%;
}
.submit-button{
  width: 96%;
  height: 60px;
  margin: 0px 12px;
  border-radius: 30px;
  font-size: 20px;;
  font-weight: 700;
  outline: none;
  border:none;
  cursor: pointer;
  color:#fff;
  text-align: center;
  background: #F44770;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
}
.submit-button:hover{
  background: #31279d;
}


/* Responsive css */

@media only screen and (max-width: 767px) {
  .box-wrapper{
      width: 100%;
  }
  .info-wrap,
  .form-wrap{
      width: 100%;
      height: inherit;
      float: none;  
  }
  .info-wrap{
      border-radius: 30px 30px 0px 0px;
  }
  .form-wrap{
      border-radius: 0px 0px 30px 30px;
  }
  .form-group{
      width: 100%;
      float: none;
      margin: 25px 0px;
  }
  .form-fields .form-group:last-child, 
  .submit-button{
      width: 100%;
  }
  .submit-button{
      margin: 10px 0px;
  }
 
}

.footer-section {
  background: #151414;
  position: relative;
  width: 100vw;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.instagram-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}



/*=============================CONTACT_US============================*/
footer{
  margin-top: 70px;
  color: #00fffb;
}