*{
    margin: 0;
    padding: 0;
}
.nav ul {
    display: flex;
    padding: 1vw;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    /* box-shadow: #6d504d5c 2px 1px 10px 1px; */
  
  }
  
  .nav ul li {
    position: static;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  
  .nav ul li a {
    font-size: .8rem;
    width: auto;
    padding: 10%;
    text-decoration: none;
    border-radius: 10%;
    box-shadow: rgba(101, 3, 34, 0.708) 2px 2px 10px 5px;
    color: aliceblue;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: glow infinite 1s;
  }
  
  .nav ul li a:hover {
    background: #aa89dc;
    transition: all ease 0.5s;
    position: static;
    color: rgb(4, 8, 0);
    box-shadow: rgb(255, 66, 45) 2px 2px 10px 5px;
  }
  
  .menu img {
    height: 50px;
    display: block;
  }
  li a img{
    height: 10%;
  }
  




  #home{
    height: 90vh;
    background-color: #000000;
    background-image: url(img/banner2.png);
    background-size: cover;
  }
  .container{
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .container h1:nth-child(1) {
    color: #ffffff;
    font-family: 'Fira Code', monospace;
    font-weight: 800;
    font-size: 25px;
    margin: 0 0 0 15%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    animation: type 2s steps(40,end) forwards;
  }
  
  .container h1:nth-child(2) {
    opacity: 0;
    font-family: "Work Sans", sans-serif;
    margin: 0 0 0 15%;
    background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
    font-weight: 800;
    font-size: 100px;  
    width: 430px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
  }
  
  @keyframes shring-animation {
    0% {
      background-position: 0 0;
      opacity: 0;
      width: 0;
    }
    1% {
      background-position: 0 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    50% {
      background-position: 150px 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    100% {
      background-position: 400px 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    1%, 99%{
      border-right: 1px solid orange;
    }
    100%{
      border-right: none;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  


  #service {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #080312;
    text-align: left;
  }
  
  #service h1 {
    font-family: "Protest Strike", sans-serif;
    font-size: 3rem;
    color: cyan;
  }
  
   .service-list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
  }
   ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
  }
  
  .myCard {
    background-color: transparent;
    height: 250px;
    width: 200px;
    padding: 1%;
    perspective: 1000px;
  }
  .myCard img {
    height: 30%;
    }
  
  .myCard::marker {
    display: none;
    text-decoration: none;
    background-color: transparent;
  }
  
  
  .define {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    padding: 2%;
    margin: 0;
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 600;
  }
  
  .frontSide,
  .frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  }
  
  .backSide,
  .backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }
  /* button styling */
  .btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
        /* Top-left */
        0% var(--curve-size),
  
        var(--curve-size) 0,
        /* top-right */
        100% 0,
        100% calc(100% - var(--curve-size)),
  
        /* bottom-right 1 */
        calc(100% - var(--curve-size)) 100%,
        /* bottom-right 2 */
        0 100%);
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
        /* Top-left */
        var(--border-width) calc(var(--curve-size) + var(--border-width) * .5),
  
        calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
        /* top-right */
        calc(100% - var(--border-width)) var(--border-width),
  
        calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
        /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
        /* bottom-right 2 */
        var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
        /* Top-left */
        calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
  
        calc(100% - var(--border-width)) var(--border-width),
  
        /* top-right */
        calc(100% - var(--border-width)) var(--border-width),
  
        calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
        /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
  
        /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
   
  }


#media{
    height: 80vh;
}
 

.box {
    color: white;
    max-width: 1440px;
    background-color: rgb(18, 2, 2);
    /* margin: 0 auto; */
    padding: 0 calc(17.8px + 2rem);
  }
  
  .box h2 {
    font-size: 5rem;
    color: #ddd;
    text-align: center;
    padding-bottom: 10rem;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    background: #fff;
    box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
  }
  
  footer a {
    text-decoration: none;
    color: #1c2833;
  }
  
  .footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 0;
    grid-gap: 2.5rem;
  }
  
  .footer_headings {
    color: #b8e70e;
    padding-bottom: 2rem;
    position: relative;
  }
  
  .footer_headings::after {
    content: "";
    height: 3px;
    background: #e74c3c;
    width: 25%;
    position: absolute;
    top: 30px;
    left: 0px;
  }
  
  .first_section img {
    display: block;
    object-fit: cover;
    width: 100%;
  }
  .first_section p {
    padding: 1.5rem 0;
    text-align: justify;
  }
  
  .social_icons {
    display: flex;
    justify-content: space-between;
  }
  
  .social_icons i {
    font-size: 1.5rem;
    cursor: pointer;
    background: #ddd;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
    color: #1c2833;
  }
  
  .social_icons i:hover {
    transform: translateY(-5px);
  }
  
  /* second sections */
  .second_section ul {
    list-style: none;
  }
  /* .second_section {
    display: inline;
    justify-content: left;
  } */
  .second_section ul li {
    margin: 1rem 0;
    justify-content: left;
    text-decoration: none;
    list-style: none;
  }
  .second_section ul li a {
    color: white;
    text-decoration: none;
    list-style: none;
  }
  
  .second_section ul li:first-child {
    margin-top: 0;
  }
  
  /* third section */
  .third_section ul {
    list-style: none;
  }
  
  .third_section ul li {
    margin: 1rem 0;
    justify-content: left;
    display: flex;
  }
  
  .third_section ul li:first-child {
    margin-top: 0;
  }
  
  .third_section ul li i {
    margin-right: 10px;
    background: #ddd;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 1rem;
  }
  
  .third_section span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* fourth section */
  .form_control input,
  textarea {
    outline: none;
    border: none;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .fourth_section button {
    display: block;
    width: 100%;
    outline: none;
    background: #e74c3c;
    border: none;
    color: #fff;
    padding: 0.6rem 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .footer_txt {
    background: #f0f3f4;
    padding: 1.1rem 0;
    text-align: center;
    box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
  }

  
  @media (max-width: 768px) {
    body {
      min-height: 50vh;
    }
  
    .footer_content {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4rem;
      padding: 3rem 0;
    }
  
    .social_icons i {
      font-size: 1.3rem;
      width: 45px;
      height: 45px;
    }
  
    footer {
      position: absolute;
      top: 50%;
    }
  
    .box h2 {
      font-size: 4rem;
      padding-bottom: 5rem;
    }
  }
  
  @media (max-width: 568px) {
    .footer_content {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 3rem;
      padding: 2.5rem 0;
    }
  
    .container h2 {
      font-size: 3rem;
      padding-bottom: 4rem;
    }
  
    .social_icons i {
      font-size: 1rem;
      width: 35px;
      height: 35px;
    }
  
    footer {
      position: absolute;
      top: 30%;
    }
  }

